.about-asset-container {
    
    padding: rem(32px) 0;
    border-bottom: 1px solid $clr7;

    & > * {
        display: flex;
        align-items: center;
    }

    & > *:not(:last-child) {
        margin-bottom: rem(24px);
    }

    h4 {
        color: $clr3;
        font-family: Roboto-medium;
        font-size: 1rem;
        margin-bottom: rem(4px);
    }

    p {
        font-size: rem(14px);
        font-family: Roboto-light;
    }

    svg {
        margin-right: rem(16px);
        max-width: rem(26px);
        max-height: rem(26px);
    }
}
