.city-card-container {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: rem(18px);

    text-transform: capitalize;
    font-size: rem(18px);
    margin-block-end: rem(100px);

    a {
        color: $clr1;
        &:visited {
            color: $clr1;
        }
    }

    .card {
        position: relative;
        height: 100%;
        font-family: Roboto-Regular;
        .img-container {
            height: 100%;
            position: relative;
            border-radius: 0.5rem;
            overflow: hidden;
            display: flex;
            img {
                border-radius: 0.5rem;
                transform: scale(1);
                transition: transform ease 0.4s;
            }
            &:hover img {
                transform: scale(1.05);
                transition: transform ease 0.4s;
            }
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(0deg, #0000008c 0%, rgba(0, 0, 0, 0) 100%);
            }
        }
    }
    .bg-filter {
        margin-inline-start: 0.3rem;
        position: absolute;
        bottom: 3px;
        padding: .5rem .8rem;
    }
}