.dropdown-filter {
    width: 100px;
    height: 100px;
    border: 1px solid $clr6;
}

    // padding: 8px 16px;
    // font-size: rem(14px);
    // margin: 4px 8px 4px 0px;
    // border: 1px solid $clr6;
    // border-radius: 30px;