.gradientBtn {
    color: white;
    text-decoration: none;
    background-image: radial-gradient(
        circle at center center,
        rgb(255, 56, 92) 0%,
        rgb(230, 30, 77) 27.5%,
        rgb(215, 4, 102) 40%,
        rgb(227, 28, 95) 57.5%,
        rgb(189, 30, 89) 75%,
        rgb(189, 30, 89) 100%,
        
    );
    background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
    background-size: 150% 150%;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    font-size: rem(16px);
}
