header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 100;
    transition: all 0.1s ease-out;

    a {
        color: $clr1;
        &:hover {
            color: $clr3;
        }
        &:visited {
            color: $clr1;
        }
    }

    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 1.6rem;

        .nav-link {
            & *:not(:last-child) {
                margin-inline-end: 1rem;
            }
        }
    }
}