header {
    width: 100%;
    position: fixed;
    background-color: $clr1;
    z-index: 100;
    transition: all 0.1s ease-out;
    box-shadow: 0px 0px 5px #22222227;
    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 1.3rem;
        transition: all 0.15s ease-out;
        h1 {
            position: relative;
            display: flex;
            align-items: center;
            font-size: rem(32px);
            color: $clr4;
            svg {
                position: absolute;
                top: -18px;
                left: -45px;
                max-width: rem(40px);
            }
        }
        .nav-link {
            .login-signup-btn {
                cursor: pointer;
                border: 1px solid $clr3;
                color: $clr3;
                padding: rem(4px) rem(8.5px);
                border-radius: rem(20px);
                & *:first-child {
                    margin-inline-end: rem(12px);
                }
                svg:first-child {
                    max-width: 16px;
                }
                svg:last-child {
                    max-width: 30px;
                }
            }
            & li:not(:last-child) {
                margin-inline-end: 1rem;
            }
        }
        .user-modal {
            box-shadow: 0px 0px 5px #22222227;
            border-radius: rem(5px);
            position: absolute;
            right: rem(20px);
            top: rem(78px);
            background-color: $clr1;
            width: rem(268px);
            flex-direction: column;
            a {
                color: $clr3;
                &:visited {
                    color: $clr3;
                }
            }
            ul {
                width: 100%;
                li {
                    cursor: pointer;
                    padding: rem(14px) rem(10px);
                    width: 100%;
                    transition: ease-in-out 0.2s;
                    &:hover {
                        background-color: darken($clr1, 10%);
                    }
                }
            }
        }
    }
}
