.reviews-container {

    > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    padding: rem(48px) 0;
    border-top: 1px solid $clr7;
    border-bottom: 1px solid $clr7;

    .review-container {
        margin-bottom: rem(40px);
    }

    .review-writer-container {
        margin-bottom: rem(16px);
    }

    .review-writer {
        margin-left: rem(12px);

        & :first-child {
            font-family: Roboto-medium;
            color: $clr3;
            padding-bottom: rem(4px);
        }

        & :last-child {
            font-family: Roboto-regular;
            color: $clr2;
            font-size: rem(14px);
        }
    }

    .stay-rate {
        display: flex;
        align-items: center;
        padding-bottom: rem(32px);

        span {
            font-size: rem(22px);
            color: $clr3;
            font-family: Roboto-medium;
        }

        svg {
            font-size: rem(18px);
            margin-right: rem(4px);
            margin-bottom: rem(2px);
        }
    }

    p {
        font-family: Roboto-light;
        color: $clr3;
        width: 90%;
    }

    button {
        font-family: Roboto-medium;
        font-size: 1rem;
        border: 1px solid $clr3;
        border-radius: rem(8px);
        padding: rem(12px) rem(40px);
        transition: 0.3s;

        &:hover {
            background-color: rgb(240, 240, 240);
            transition: 0.3s;
        }
    }
}