.stay-filter-2 {
    font-family: 'Roboto-Medium';
    
    .filter-header {
        font-size: rem(32px);
        height: rem(36px);
        margin-bottom: 30px;
        margin-top: 100px;
        color: $clr3
    }
    .btn-group {
        // background-color: red;
        position: relative;
        margin-bottom: 30px;
            button {
            padding: 8px 16px;
            font-size: rem(14px);
            margin: 4px 8px 4px 0px;
            border: 1px solid $clr6;
            border-radius: 30px;        

        &:hover {
        border-color: $clr2;
        }
        
        }
        button {
            z-index: 3
        }
   }

   .input-container {
       border: 1px solid black;
       border-radius: 2px;
       margin-bottom: 10px;
       
       input {
           border: none;
           outline: none;
           padding: 10px;
           width: 100px;
           
       }
   }
   
    .filter-modal {
        position: absolute;
        z-index: 2;
        background-color:$clr1;
        border: 1px solid #B0B0B0;
        border-radius: 8px;
        padding: 10px;
        justify-content: space-between;
        margin-top: 8px;
        .btn-container {
        display: flex;
        justify-content: space-between;
        }
        .price-filter-container {
            justify-content: space-evenly;
        }

        ::placeholder {
            font-size: 12px;
        }
    }
}