.stay-rate {
    align-items: flex-start;
    svg {
        color: $clr5;
        padding-right: rem(3px);
        padding-top: rem(1.1px);
    }
    .num-of-review {
        font-size: rem(14px);
        color: $clr2
    }
}