.stay-preview {

    margin-bottom: rem(6px);

    .stay-image-container {
        margin-bottom: rem(8px);

        img {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: rem(8px);
            object-fit: cover;
        }
    }

    p:first-of-type {
        font-size: rem(14px);
        font-family: Roboto-medium;
        padding-top: rem(8px);
    }

    p.long-txt {
        margin-bottom: rem(8px);
        color: $clr2;
        font-family: Roboto-light;
    }

    p:last-of-type {
        font-size: rem(14px);
        color: $clr3;
        span {
            font-size: 1rem;
            font-family: Roboto-bold;
        }
    }
}