.stay-book-modal {
    position: sticky;
    top: rem(100px);
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: rem(12px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    padding: rem(24px) rem(24px) 0 rem(24px);
    max-width: rem(370px);
    margin-bottom: rem(55px);

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        span.price {
            font-family: Roboto-Medium;
            font-size: rem(22px);
            color: $clr3;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        position: relative;
        font-family: Roboto-Bold;
        .form-select {
            border-radius: 12px;
            border: 1px solid #dddddd;
        }

        input {
            font-size: rem(14px);
            border: none;
            outline: none;
            text-align: center;
            width: 20px;
            padding: 5px 10px;
            width: 50%;
        }

        input:last-of-type {
            width: 90%;
            text-align: left;
        }
        .DateInput_input {
            padding: 5px;
        }
    }

    form > * {
        margin-bottom: 20px;
        font-family: Roboto-Bold;
    }

    .date-container {
        position: relative;
    }
    .date-container > *:hover {
        cursor: pointer;
    }

    .DateRangePicker {
        width: 100%;
        border-bottom: 1px solid #dddddd;

        .DateRangePickerInput_arrow {
            background-color: red;
        }

        .DateRangePickerInput {
            width: 100%;
            display: flex;
        }
        .DateInput {
            width: 50%;
            margin-left: 10px;
            padding-top: 20px;
        }
        .DateInput:first-of-type {
            border-right: 1px solid #dddddd;
        }
    }

    form .check,
    form .guests {
        z-index: 1;
        position: absolute;
        font-size: rem(10px);
        font-weight: bold;
        top: 10px;
        color: $clr3;
    }

    form .check:first-of-type,
    form .guests {
        position: absolute;
        left: 16px;
    }

    form .check,
    form .guests {
        position: absolute;
        right: 87px;
    }

    .guest-container span {
        top: 57px;
    }

    .guest-container .btn-guests {
        padding: 20px 15px 10px;
    }

    .btn-guests {
        width: 100%;
        text-align: left;
        font-family: Roboto-Regular;
    }

    .reserve-mode {
        margin-bottom: 0px;
        p,
        div {
            margin-bottom: 15px;
        }
        color: $clr2;
        font-family: Roboto-Regular;
        p:first-child {
            text-align: center;
            font-size: rem(14px);
        }
        div {
            display: flex;
            justify-content: space-between;
        }

        div:not(:last-of-type) span:first-child {
            text-decoration: underline;
        }
        div:last-of-type {
            border-top: 1px solid rgb(221, 221, 221);
            padding-top: 15px;
            padding-bottom: 5px;
            font-family: Roboto-Bold;
            color: $clr3;
        }
    }

    @media (max-width: 850px) {
        position: static;
        max-width: 75%;
    }
    @media (max-width: $narrow-breakpoint) {
        position: static;
        max-width: 100%;
    }
}
