.primary-btn {
    font-size: 1.5em;
    background-color: #fdfdfd;
    transition: color 0.3s;
    min-width: 40px;
    min-width: 40px;
}

.btn-grd {
    background: radial-gradient(
        circle at center center,
        rgb(255, 56, 92) 0%,
        rgb(230, 30, 77) 27.5%,
        rgb(227, 28, 95) 40%,
        rgb(215, 4, 102) 57.5%,
        rgb(189, 30, 89) 75%,
        rgb(189, 30, 89) 100%
    );
    color: $clr1;
}
