.stay-home {
    > h2 {
        margin-block-start: rem(75px);
    }

    h2 {
        padding-bottom: rem(16px);
        font-family: Roboto-medium;
        color: $clr3;
    }

    .home-hero {
        position: relative;
        background: url(../../img/sunset.jpg) no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 87vh;
        flex-direction: column;
        color: $clr1;

        h1 {
            font-size: 3rem;
            margin-inline-start: rem(50px);
        }

        .hero-txt-container {
            max-width: $normal-breakpoint;
            margin: 0px auto;
            width: 100%;
            color: $clr1;

            h2 {
                font-size: rem(48px);
                color: $clr1;
            }

            button {
                font-family: Roboto-medium;
                font-size: 1rem;
                border: 1px solid $clr1;
                padding: rem(8px) rem(16px);
                border-radius: rem(8px);
                color: $clr3;
                background-color: $clr1;
            }
        }

        @media (max-width: $normal-breakpoint) {
            .hero-txt-container {
                max-width: $narrow-breakpoint;
                // padding: 0 2rem;
                h2 {
                    font-size: rem(34px);
                }
                button {
                    font-size: rem(14px);
                }
            }
        }
        @media (max-width: $narrow-breakpoint) {
            .hero-txt-container {
                width: rem(300px);
                padding: 0;
                position: absolute;
                bottom: 2rem;
                left: 2rem;
            }
        }
    }

    .best-loc {
        margin-block-end: rem(75px);

        .best-loc-header {
            a {
                text-decoration: underline;
                font-size: rem(14px);
                font-family: Roboto-medium;
                padding-top: rem(8px);
            }
        }

        .stay-list {
            width: 100%;
            margin-bottom: 0;
        }
    }

    .become-host {
        background-image: url(../../img/img-1.jpg);
        background-position: center left;
        background-size: cover;
        background-repeat: no-repeat;

        border-radius: rem(8px);
        width: 100%;
        max-width: $normal-breakpoint;
        min-width: rem(300px);
        height: 400px;
        margin: 0 auto;
        margin-block-end: rem(48px);

        .host-container {
            height: 100%;
            border-radius: rem(8px);
            padding-left: rem(48px);
            background: linear-gradient(
                90deg,
                rgba(34, 34, 34, 1) 0%,
                rgba(34, 34, 34, 1) 50%,
                rgba(255, 255, 255, 0) 50%
            );

            @media (max-width: $normal-breakpoint) {
                padding-left: rem(36px);
            }
            @media (max-width: $mobile-breakpoint) {
                padding-left: 1rem;
            }

            h2 {
                font-size: rem(48px);
                color: $clr1;

                @media (max-width: $normal-breakpoint) {
                    font-size: rem(36px);
                }
                @media (max-width: $mobile-breakpoint) {
                    align-self: center;
                    font-size: rem(28px);
                    padding-bottom: 1rem;
                }
            }

            p {
                font-family: Roboto-light;
                width: 45%;
                font-size: rem(18px);
                color: darken($clr1, 30%);
                padding-bottom: 1.5rem;
                @media (max-width: 1280px) {
                    font-size: rem(16px);
                }
                @media (max-width: 740px) {
                    font-size: rem(15px);
                }
            }

            .content-container {
                flex: 1;
                flex-direction: column;
                margin-inline-end: rem(15px);
                justify-content: center;
                align-items: flex-start;

                button {
                    background-color: $clr1;
                    color: $clr3;
                    font-size: rem(16px);
                    font-family: Roboto-medium;
                    border: 1px solid $clr1;
                    border-radius: rem(8px);
                    cursor: pointer;
                    padding: rem(8px) rem(16px);
                    transition: ease-in-out 0.3s;
                }
            }
        }
    }
}
