.log-in, .sign-up {
    flex-direction: column;
    padding: 2rem;
    form {
        flex-direction: column;
        & *{
            padding: rem(5px);
            margin: rem(5px);
        }
    }
}
