.log-page-container {
    margin-block-start: 5rem;
    position: relative;
    
    // background: url(../../img/sunse1.jpg) no-repeat;
    background-position: top left;
    .form-filter {
        
        position: absolute;
        // background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
    }
    .log-in,
    .sign-up {
        align-items: center;
        background-color: $clr1;
        position: relative;
        flex-direction: column;
        padding: 2rem;
        box-shadow: 0px 0px 5px #22222227;
        margin: rem(50px) 0;
        form {
            flex-direction: column;
            & * {
                padding: rem(3px);
                border-radius: rem(7px);
                outline: none;  
            }
            label {
                font-family: Roboto-medium;
                font-size: rem(14px);
                color: $clr3;
            }
            input {
                padding: rem(8px);
                font-size: rem(16px);
                border: none;
                background-color: $clr6;
                margin-block-end: rem(12px);
                &[type="file"]{
                    display: none;
                }
            }
            .btn-container{
                justify-content: space-between;
                align-items: flex-start;
                
                button, label[name="img-upload"]{
                    font-size: rem(16px);
                    font-family: Roboto-regular;
                    border: 1px solid $clr5;
                    // margin-block-start: rem(10px);
                    transition: ease-in-out 0.2s;
                    &:hover {
                        background-color: $clr4;
                        border: 1px solid $clr1;
                    }
                }
            }
        }
    }
}
