// Colors
$clr1: #fdfdfd;
$clr2: #717171;
$clr3: #222222;
$clr4: #ff385c;
$clr5: #d70466;
$clr6: #B0B0B0;
$clr7: #e0e0e0;

//Box shadows
$boxShadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 740px;
$normal-breakpoint: 1280px;